// About App Area
section.about-app-area.section-padding-130-0
    .container
        .row.justify-content-center.align-items-center
            // About Image
            .col-12.col-md-6.col-lg-5
                .about-image.mb-5.mb-md-0
                    // Circle Shape
                    .circle-shape.wow.fadeInUp(data-wow-delay="500ms")

                    // Big Thumbnail
                    .big-thumb.wow.fadeInUp
                        img(src="img/bg-img/about-app-1.png", alt="")

                    // Small Thumbnail
                    .small-thumb.wow.fadeInUp
                        img(src="img/bg-img/about-app-2.png", alt="")

            // About Text
            .col-12.col-md-6.col-lg-5
                // Section Heading
                .section-heading.wow.fadeInUp
                    h3 Modern, user friendly &amp; powerful interface
                    .line.me-auto.ms-0

                // About Us Text
                .about-us-text-area.wow.fadeInUp
                    h4 Modern, user friendly template
                    p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.

                    .border-top.my-5

                    h4 Powerful user interface
                    p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                    a.btn.btn-primary.mt-5(href="about-us.html") Learn more

// Get Started Area
section.get-started-area.section-padding-130-0
    // Round Shape
    .round-shape.bg-info

    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-6
                // Section Heading
                .section-heading.text-center.wow.fadeInUp
                    h3 Get the brand new <br> Apland 5.1.2 today
                    p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

        .row
            .col-12
                // Total User Text
                .total-subscriber-text.text-center.wow.fadeInUp
                    h3.mb-0
                        | More than 
                        strong.counter 680
                        | + websites have been powered by Apland.
                    a.btn.btn-success.mt-5(href="https://wrapbootstrap.com/theme/apland-app-landing-page-template-WB0F61H5J", target="_blank") Buy Now Today

            .col-12
                // CTA Thumbnail
                .cta-thumbnail.section-padding-130-0.wow.fadeInDown
                    img.w-100(src="img/bg-img/cta.png", alt="")