// Features Area
section.using-benefits-area.section-padding-130#benefits
    // Benefit Top Background
    .benefit-top-thumbnail
        img(src="img/core-img/video-bottom.png", alt="")

    // Benefit Top Background
    .benefit-bottom-thumbnail
        img(src="img/core-img/benefit-bottom.png", alt="")

    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-6
                // Section Heading
                .section-heading.white.text-center.wow.fadeInUp
                    h6.alert.alert-warning Using Benefits
                    h3 Apland has awesome stunning feature for your next website.
                    .line

        .row.gy-5
            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single-benifits.d-flex.wow.fadeInUp
                    .icon-box
                        i.lni-heart
                    .benifits-text
                        h5 Simple &amp; Light
                        p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single-benifits.d-flex.wow.fadeInUp
                    .icon-box
                        i.lni-color-pallet
                    .benifits-text
                        h5 Modern Design
                        p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single-benifits.d-flex.wow.fadeInUp
                    .icon-box
                        i.lni-grid-alt
                    .benifits-text
                        h5 Super Responsive
                        p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single-benifits.d-flex.wow.fadeInUp
                    .icon-box
                        i.lni-bug
                    .benifits-text
                        h5 Bug Free Code
                        p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single-benifits.d-flex.wow.fadeInUp
                    .icon-box
                        i.lni-brush
                    .benifits-text
                        h5 Latest Technology
                        p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single-benifits.d-flex.wow.fadeInUp
                    .icon-box
                        i.lni-sprout
                    .benifits-text
                        h5 Retina Ready
                        p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>

    .container
        .text-center.mt-80.wow.fadeInUp
            a.btn.btn-warning(href="https://wrapbootstrap.com/theme/apland-app-landing-page-template-WB0F61H5J", target="_blank") Buy With Confidence