// CTA Area
.cta-area.section-padding-130
    .container
        .row
            .col-12.col-sm-8
                .cta-content.wow.fadeInUp
                    h3.mb-5 More than 680+ websites have been created by the Apland. You can buy it with confidence.
                    a.btn.btn-warning.wow.fadeInUp(href="https://wrapbootstrap.com/theme/apland-app-landing-page-template-WB0F61H5J", target="_blank") Buy Now Today
                