// Download App Area
.download-app-area.section-padding-130-80#download
    .container
        .row
            .col-12
                // Section Heading
                .section-heading.white.text-center.wow.fadeInUp
                    h6.alert.alert-warning Download App
                    h3 Try Apland for 7 days, for free!
                    p Apland is a completely creative, lightweight responsive app landing page.
                    .line.bg-white

                // Download Text
                .download-app-text.text-center
                    a.wow.fadeInUp(href="download.html")
                        img(src="img/core-img/google-play.png", alt="")
                    a.wow.fadeInUp(href="download.html")
                        img(src="img/core-img/app-store.png", alt="")

                    .download-img.wow.fadeInUp
                        img(src="img/bg-img/download-mobile.png", alt="")