// Extra Features Area
section.main-features-area.bg-gray.section-padding-130
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-sm-10.col-lg-6.col-xl-5
                // Section Heading
                .section-heading.wow.fadeInLeft
                    h6.alert.alert-info Extra Performance
                    h3 Some extra core features available in 
                        span Apland
                    .line.me-auto.ms-0

                .row.gy-5
                    .col-12
                        // Single Item
                        .single-benifits.d-flex.pe-sm-5.wow.fadeInLeft
                            .icon-box.me-30.bg-danger
                                i.lni-bi-cycle
                            .single-benifits-text
                                h5 Simple &amp; Light
                                p.text-secondary Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.

                    .col-12
                        // Single Item
                        .single-benifits.d-flex.pe-sm-5.wow.fadeInLeft
                            .icon-box.me-30.bg-warning
                                i.lni-color-pallet
                            .single-benifits-text
                                h5 Stunning Design
                                p.text-secondary Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.

                    .col-12
                        // Single Item
                        .single-benifits.d-flex.pe-sm-5.wow.fadeInLeft
                            .icon-box.me-30.bg-info
                                i.lni-flower
                            .single-benifits-text
                                h5 Super Responsive
                                p.text-secondary Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.

            .col-12.col-sm-9.col-md-8.col-lg-5
                .main-features-thumbnail.mt-5.mt-lg-0
                    img(src="img/bg-img/hero-4.png", alt="")