// App Features Area
section.about-area.section-padding-130#features
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-6
                // Section Heading
                .section-heading.text-center.wow.fadeInUp
                    h6.alert.alert-primary The Bright Feature
                    h3 A simple, smart &amp; 
                        span proven way 
                        |  to boost your site performance.
                    .line

        .row.justify-content-center.align-items-center
            .col-12.col-sm-8.col-md-6.col-lg-4
                .row.gy-5.justify-content-center
                    // Single About Area
                    .col-10
                        .single-about-part.wow.fadeInLeft
                            .feature-icon.bg-primary.bg-gradient
                                i.lni-baloon
                            h5 Lightweight
                            p Apland is a completely creative &amp; lightweight template.

                    // Single About Area
                    .col-10
                        .single-about-part.wow.fadeInLeft
                            .feature-icon.bg-success.bg-gradient
                                i.lni-layers
                            h5 Flexible
                            p Apland is a completely creative &amp; lightweight template.

                    // Single About Area
                    .col-10
                        .single-about-part.wow.fadeInLeft
                            .feature-icon.bg-danger.bg-gradient
                                i.lni-ruler-pencil
                            h5 Stunning Design
                            p Apland is a completely creative &amp; lightweight template.

            // Product Thumb Area
            .col-12.col-md-8.col-lg-4
                .about-product-thumb.text-center.my-5.my-lg-0
                    img(src="img/bg-img/features-img.png", alt="")

            .col-12.col-sm-8.col-md-6.col-lg-4
                .row.gy-5.justify-content-center
                    // Single About Area
                    .col-10
                        .single-about-part.wow.fadeInRight
                            .feature-icon.bg-warning.bg-gradient
                                i.lni-mobile
                            h5 Super Responsive
                            p Apland is a completely creative &amp; lightweight template.

                    // Single About Area
                    .col-10
                        .single-about-part.wow.fadeInRight
                            .feature-icon.bg-info.bg-gradient
                                i.lni-code
                            h5 Clean Code
                            p Apland is a completely creative &amp; lightweight template.

                    // Single About Area
                    .col-10
                        .single-about-part.wow.fadeInRight
                            .feature-icon.bg-dark.bg-gradient
                                i.lni-bulb
                            h5 Retina Ready
                            p Apland is a completely creative &amp; lightweight template.