// Footer Area
footer.footer-area.section-padding-130
    .container
        .row.g-5.justify-content-between
            // Single Widget
            .col-12.col-sm-6.col-lg-3
                .single-footer-widget
                    // Widget Title
                    h5.widget-title About
                    p.mb-0 Apland is a completely creative, lightweight, clean & super responsive app landing page. Put your app sales or promotions into next level with it.

                    // Widget Title
                    h5.widget-title.mt-5 Our office
                    p.mb-0 Designing World <br> Dhaka, Bangladesh <br> (+880) 123456 789


            // Single Widget
            .col-12.col-sm-6.col-lg-3
                .single-footer-widget
                    // Widget Title
                    h5.widget-title Important Links

                    // Footer Menu
                    .footer-menu
                        ul
                            li
                                a(href="#") Help
                            li
                                a(href="#") Support
                            li
                                a(href="#") Privacy Policy
                            li
                                a(href="#") Term &amp; Conditions
                            li
                                a(href="#") Call Center
                            li
                                a(href="#") Email Us
                            li
                                a(href="#") Term &amp; Conditions
                            li
                                a(href="#") Help Center

            // Single Widget
            .col-12.col-sm-6.col-lg-3
                .single-footer-widget
                    // Widget Title
                    h5.widget-title Download Our App

                    .app-download-btn-group
                        a.mb-4.d-block(href="#")
                            img(src="img/core-img/google-play.png", alt="")

                        a.d-block(href="#")
                            img(src="img/core-img/app-store.png", alt="")

                    // Widget Title
                    h5.widget-title.mt-5 Newsletter

                    // Footer Newsletter
                    form.footer-newsletter(action="#")
                        input(type="text", class="form-control", placeholder="Your Email")
                        input.btn.btn-warning(type="submit", value="Subscribe")

// Footer Bottom
.footer-bottom-area.py-5
    .container
        .row.align-items-center
            .col-7
                .copywrite-text
                    p.mb-0 2021 &copy; Made with  
                        i.lni-heart
                        |  by
                        a.ms-1(href="https://wrapbootstrap.com/user/DesigningWorld") Designing World

            .col-5
                .social-btn-group.d-flex.align-items-center.justify-content-end
                    a(href="#", data-bs-toggle="tooltip", data-bs-placement="top", title="Facebook")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                        </svg>
                    a(href="#", data-bs-toggle="tooltip", data-bs-placement="top", title="Twitter")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                        </svg>
                    a(href="#", data-bs-toggle="tooltip", data-bs-placement="top", title="Slack")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slack" viewBox="0 0 16 16">
                            <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/>
                        </svg>