// Welcome Area
.hero-sylhet.welcome-area#home
    // Background Shape
    .background-shapes
        .box1
        .box2
        .box3
        .dot1
        .dot2
        .dot3
        .dot4
        .heart1
            i.lni-heart
        .heart2
            i.i.lni-heart

    .container
        .row.justify-content-center.align-items-center.mb-100
            .col-12.col-md-8
                // Welcome Content
                .welcome-text-area.text-center
                    h2.text-white.wow.fadeInUp(data-wow-delay="0.1s") There’s a better way to increase your sales.
                    h5.text-white.wow.fadeInUp(data-wow-delay="0.3s") Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Put your app sales or promotions into next level with it.
                    a.btn.btn-warning.mt-30.wow.fadeInUp(data-wow-delay="0.5s", href="#") Start A Free Trial

        .row
            .col-12
                .welcome-thumbnail.wow.fadeInUp(data-wow-delay="0.1s")
                    img(src="img/bg-img/testimonials.jpg", alt="")