// Welcome Area
section.hero-rangpur.welcome-area.bg-img.jarallax#home(data-jarallax-video="https://www.youtube.com/watch?v=JxCDg3qZBOE")
    .container.h-100
        .row.h-100.justify-content-center.align-items-center
            .col-12.col-md-8.col-lg-6
                .welcome-text-area.text-center
                    h2.wow.fadeInUp(data-wow-delay="0.1s") Ingoing a new era with Apland
                    h5.wow.fadeInUp(data-wow-delay="0.3s") Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.

                    // Subscribe Area
                    form.subscribe-form.mx-auto.wow.fadeInUp(data-wow-delay="0.5s", action="apland-rangpur.html", method="get")
                        input.form-control(type="email", name="email", placeholder="info@apland.com", required)
                        button(type="submit") Get Started
                        span.text-white.mt-2
                            i.lni-lock.me-1
                            | We'll never share your email with anyone else.