// Welcome Area
section.hero-barishal.welcome-area#home

    // Big Circle
    .big-circle

    // Circle Shape Animation
    .circle-shape-animation
        .circle1
        .circle2
        .circle3
        .circle4
    
    .container.h-100
        .row.h-100.justify-content-between.align-items-center
            .col-12.col-md-6
                .welcome-text-area
                    h6.mb-3
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z"/>
                        </svg>
                        | New updated version
                    
                    h2.wow.fadeInUp(data-wow-delay="0.1s")
                        | There’s a better way to increase your 
                        .animated-headline
                            .ah-headline
                                span.ah-words-wrapper
                                    b.is-visible sales.
                                    b revenue.

                    h5.wow.fadeInUp(data-wow-delay="0.3s") Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Put your app sales or promotions into next level with it.
                    a.btn.btn-warning.mt-30.wow.fadeInUp(href="#", data-wow-delay="0.5s") Start A Free Trial
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>

            .col-12.col-sm-10.col-md-5
                // Welcome Thumb
                .welcome-area-thumb.text-center
                    img(src="img/bg-img/hero-12.jpg", alt="")

                    .video-area-text
                        a.video-btn.mt-0(href="https://www.youtube.com/watch?v=YLtFGWVWiGo")
                            i.lni-play
                            span.video-sonar

                    // Thumb Shape
                    .thumb-shape1
                        img(src="img/core-img/line-shape.png", alt="")
                    .thumb-shape2
                    .thumb-shape3
    
.container
    .welcome-border