// Welcome Area
section.hero-khulna.welcome-area#home
    .hero-bg-shape(style="background-image: url(img/core-img/hero-7.png);")

    .container.h-100
        .row.h-100.justify-content-between.align-items-center
            .col-12.col-md-6
                // Welcome Area Content
                .welcome-text-area
                    h6.mb-3.text-white
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z"/>
                        </svg>
                        | New updated version
                    h2.wow.fadeInUp(data-wow-delay="0.1s") There’s a better way to increase your sales.
                    h5.text-white.wow.fadeInUp(data-wow-delay="0.3s") Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                    a.btn.btn-primary.mt-30.wow.fadeInUp(data-wow-delay="0.5s", href="#") Start A Free Trial

            .col-12.col-md-6
                // Welcome Image
                .welcome-area-thumb.text-center
                    img(src="img/bg-img/hero-3.png", alt="")

                    a.video-btn.wow.fadeIn(href="https://www.youtube.com/watch?v=YLtFGWVWiGo", data-wow-delay="0.5s")
                        i.lni-play
                        span.video-sonar