// Welcome Area
section.hero-mymensingh.welcome-area.bg-gray#home
    // Background Shape
    .mymen-background-bottom-shape
        img(src="img/core-img/mymen-bg.png", alt="")

    // Circle Shape Animation
    .circle-shape-animation
        .circle1
        .circle2
        .circle3
        .circle4

    .container.h-100
        .row.h-100.justify-content-between.align-items-center
            .col-12.col-md-6.col-lg-5
                // Content
                .welcome-text-area
                    h2.wow.fadeInUp(data-wow-delay="0.1s") A proven way to 
                        span boost 
                        |  your commission.
                    h5.wow.fadeInUp(data-wow-delay="0.3s") Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.

                    .button-group.d-flex.align-items-center.mt-30.wow.fadeInUp(data-wow-delay="0.5s")
                        a.btn.btn-primary.me-3(href="#") Discover More
                        a.video-btn(href="https://www.youtube.com/watch?v=YLtFGWVWiGo")
                            i.lni-play.me-1
                            | Play Video

            .col-10.col-md-6
                // Welcome Image
                .welcome-area-thumb.text-center
                    img(src="img/bg-img/coming-soon.png", alt="")