// Welcome Area
section.welcome-area.hero-dhaka.bg-img#home(style="background-image: url(img/bg-img/hero-6.jpg);")
    .container.h-100
        .row.h-100.align-items-center
            .col-12.col-sm-10.col-lg-8.col-xl-7
                // Welcome Area Content
                .welcome-text-area
                    h2.wow.fadeInUp(data-wow-delay="0.1s")
                        | Powerful &amp;  
                        span  creative 
                        |  website for you.
                    h5.wow.fadeInUp(data-wow-delay="0.3s") Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.

                    // Subscribe Area
                    form.subscribe-form.wow.fadeInUp(data-wow-delay="0.5s", action="#")
                        input.form-control(type="email", name="email", placeholder="support@apland.com", required)
                        button(type="submit") Get Started
                        span.text-white.mt-2
                            i.lni-lock.me-1
                            | We'll never share your email with anyone else.