// jQuery(necessary for all JavaScript plugins without bootstrap js)
script(src="js/bootstrap.bundle.min.js")
script(src="js/jquery.min.js")
script(src="js/classy-nav.min.js")
script(src="js/one-page-nav.js")
script(src="js/scrollup.min.js")
script(src="js/waypoints.min.js")
script(src="js/jquery.easing.min.js")
script(src="js/jquery.animatedheadline.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/jarallax.min.js")
script(src="js/jarallax-video.min.js")
script(src="js/jquery.counterup.min.js")
script(src="js/jquery.countdown.min.js")
script(src="js/wow.min.js")
script(src="js/mail.js")

// All plugins activation code
script(src="js/active.js")
script(src="js/dark-mode-switch.js")