// Price Plan Area
section.price-plan-area.section-padding-130#pricing
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-6
                // Section Heading
                .section-heading.text-center.wow.fadeInUp
                    h6.alert.alert-success Pricing Plans
                    h3 Let's find a way together
                    p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

        .row.justify-content-center.g-5

            // Single Price Plan Area
            .col-12.col-sm-9.col-md-7.col-lg-4
                .single-price-plan.wow.fadeInUp(data-wow-delay="0.1s")
                    .title
                        h3 Start Up
                        p Start a trial
                        .line
                    .price
                        h4 Free
                    .description
                        p
                            i.lni-check-mark-circle
                            | Duration: 7days
                        p
                            i.lni-check-mark-circle
                            | 10 Features
                        p
                            i.lni-close
                            | No Hidden Fees
                        p
                            i.lni-close
                            | 100+ Video Tuts
                        p
                            i.lni-close
                            | No Tools
                    .button
                        a.btn.btn-success(href="#") Get Started

            // Single Price Plan Area
            .col-12.col-sm-9.col-md-7.col-lg-4
                .single-price-plan.active.wow.fadeInUp(data-wow-delay="0.3s")
                    // Side Shape
                    .side-shape
                        img(src="img/core-img/popular.png", alt="")
                    .title
                        span Popular
                        h3 Small Business
                        p For Small Business Team
                        .line
                    .price
                        h4 $9.99
                    .description
                        p
                            i.lni-check-mark-circle
                            | Duration: 3 Month
                        p
                            i.lni-check-mark-circle
                            | 50 Features
                        p
                            i.lni-check-mark-circle
                            | No Hidden Fees
                        p
                            i.lni-check-mark-circle
                            | 150+ Video Tuts
                        p
                            i.lni-close
                            | 5 Tools
                        p
                            i.lni-close
                            | Unlimited Video Tuts
                        p
                            i.lni-close
                            | Unlimited Tools

                    .button
                        a.btn.btn-primary(href="#") Get Started

            // Single Price Plan Area
            .col-12.col-sm-9.col-md-7.col-lg-4
                .single-price-plan.wow.fadeInUp(data-wow-delay="0.5s")
                    .title
                        h3 Enterprise
                        p Unlimited Possibilities
                        .line
                    .price
                        h4 $49.99
                    .description
                        p
                            i.lni-check-mark-circle
                            | Everything Small Business
                        p
                            i.lni-check-mark-circle
                            | Duration: 1 year
                        p
                            i.lni-check-mark-circle
                            | Unlimited Features
                        p
                            i.lni-check-mark-circle
                            | No Hidden Fees
                        p
                            i.lni-check-mark-circle
                            | Unlimited Video Tuts
                        p
                            i.lni-check-mark-circle
                            | Unlimited Tools
                    .button
                        a.btn.btn-warning(href="#") Get Started