// App Screenshot Area
.app_screenshot_area.section-padding-130
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-6
                // Section Heading
                .section-heading.text-center.wow.fadeInUp
                    h3 App 
                        span screenshots <br>
                        |  everything you need to know
                    p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

    // Screenshot Slider
    .app-screenshots-area
        .container
            .app-screenshots.owl-carousel
                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/1.jpg", alt="")

                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/2.jpg", alt="")

                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/3.jpg", alt="")

                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/4.jpg", alt="")

                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/5.jpg", alt="")

                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/9.jpg", alt="")

                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/10.jpg", alt="")

                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/3.jpg", alt="")

                // Single Screenshot
                .single-screenshot
                    img(src="img/screenshot/4.jpg", alt="")