// Testimonial Area
section.testimonial-area.section-padding-130
    // Testimonial Top Thumbnail
    .testimonial-top-thumbnail
        img(src="img/core-img/testimonial-top.png", alt="")

    // Testimonial Bottom Thumbnail
    .testimonial-bottom-thumbnail
        img(src="img/core-img/testimonial-bottom.png", alt="")

    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-6
                // Section Heading
                .section-heading.white.text-center
                    h3 Our Happy Clients
                    p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

    .container-fluid
        .testimonials.owl-carousel.bg-transparent
            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-1.jpg", alt="")
                .testimonial-text
                    p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 MD Nazrul Islam
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-2.jpg", alt="")
                .testimonial-text
                    p Awesome &amp; amazing work. Very well organised HTML5 template with high quality stunning design.
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 Jannatun Lima
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-1.jpg", alt="")
                .testimonial-text
                    p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 Jannatun Lima
                        h6 CEO &amp; Founder, Designing World
                        
            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-1.jpg", alt="")
                .testimonial-text
                    p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 MD Nazrul Islam
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-2.jpg", alt="")
                .testimonial-text
                    p Awesome &amp; amazing work. Very well organised HTML5 template with high quality stunning design.
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 Jannatun Lima
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-1.jpg", alt="")
                .testimonial-text
                    p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 Jannatun Lima
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-1.jpg", alt="")
                .testimonial-text
                    p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 MD Nazrul Islam
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-2.jpg", alt="")
                .testimonial-text
                    p Awesome &amp; amazing work. Very well organised HTML5 template with high quality stunning design.
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 Jannatun Lima
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-1.jpg", alt="")
                .testimonial-text
                    p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 Jannatun Lima
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-1.jpg", alt="")
                .testimonial-text
                    p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 MD Nazrul Islam
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-2.jpg", alt="")
                .testimonial-text
                    p Awesome &amp; amazing work. Very well organised HTML5 template with high quality stunning design.
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 Jannatun Lima
                        h6 CEO &amp; Founder, Designing World

            // Single Testimonial Area
            .single-testimonial-area.text-center
                .testimonial-author-thumb.shadow
                    img(src="img/advisor-img/testimonial-1.jpg", alt="")
                .testimonial-text
                    p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                    .rating
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                        i.lni-star-filled
                    .testimonial-author-name
                        h5 Jannatun Lima
                        h6 CEO &amp; Founder, Designing World