// Timeline Area
section.timeline-area.section-padding-130
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-6
                // Section Heading
                .section-heading.text-center.wow.fadeInUp
                    h6.alert.alert-info Our History
                    h3 A brief stories of our 5 years company journey
                    .line

        .row
            .col-12
                // Timeline Area
                .apland-timeline-area

                    // Single Timeline Content
                    .single-timeline-area.wow.fadeInUp(data-wow-delay="0.1s")
                        .timeline-date
                            p Near Future
                        .row
                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex
                                    .timeline-icon
                                        i.lni-bolt
                                    .timeline-text
                                        h6 Updated 5.1.2
                                        p Apland is a completely creative app landing page.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex
                                    .timeline-icon
                                        i.lni-bug
                                    .timeline-text
                                        h6 Fixed bug
                                        p Apland is a completely creative app landing page.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex
                                    .timeline-icon
                                        i.lni-invention
                                    .timeline-text
                                        h6 Reach 1k Users
                                        p Apland is a completely creative app landing page.

                    // Single Timeline Content
                    .single-timeline-area.wow.fadeInUp(data-wow-delay="0.3s")
                        .timeline-date
                            p 2021
                        .row
                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex
                                    .timeline-icon
                                        i.lni-bolt
                                    .timeline-text
                                        h6 Updated 4.4.0
                                        p Apland is a completely creative app landing page.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex
                                    .timeline-icon
                                        i.lni-bug
                                    .timeline-text
                                        h6 Fixed bug
                                        p Apland is a completely creative app landing page.

                    // Single Timeline Content
                    .single-timeline-area.wow.fadeInUp(data-wow-delay="0.5s")
                        .timeline-date
                            p 2019
                        .row
                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex
                                    .timeline-icon
                                        i.lni-bolt
                                    .timeline-text
                                        h6 Updated 4.0
                                        p Apland is a completely creative app landing page.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex
                                    .timeline-icon
                                        i.lni-bug
                                    .timeline-text
                                        h6 Fixed bug
                                        p Apland is a completely creative app landing page.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex
                                    .timeline-icon
                                        i.lni-invention
                                    .timeline-text
                                        h6 Reach 500 Users
                                        p Apland is a completely creative app landing page.