// Video Area
section.video-area
    // Video Top Background
    .video-top-thumbnail
        img(src="img/core-img/video-top.png", alt="")

    .container.h-100
        .row.h-100.align-items-center
            .col-12
                .section-heading.text-center
                    h3.text-white.wow.fadeInUp Introducing Apland
                    p.text-white.wow.fadeInUp Watch video. It's takes 24sec only.

                .video-area-text.text-center
                    a.video-btn.wow.fadeInUp(href="https://www.youtube.com/watch?v=YLtFGWVWiGo")
                        i.lni-play
                        span.video-sonar