// Work Process Area
section.work-process-area.section-padding-130
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-6
                // Section Heading
                .section-heading.text-center.wow.fadeInUp
                    h3 How does it 
                        span works?
                    p Apland is a completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

        .row.justify-content-center.g-5
            // Single Work Step
            .col-12.col-sm-9.col-md-8.col-lg-4
                .single-work-step.p-5.wow.fadeInUp(data-wow-delay="0.1s")
                    .step-number(style="background-image: url('img/bg-img/hero-6.jpg')") 1
                    h5 Get started
                    p Apland is a completely creative, lightweight &amp; clean.
        
            // Single Work Step
            .col-12.col-sm-9.col-md-8.col-lg-4
                .single-work-step.active.p-5.wow.fadeInUp(data-wow-delay="0.3s")
                    .step-number(style="background-image: url('img/bg-img/hero-6.jpg')") 2
                    h5 Customize your content
                    p Apland is a completely creative, lightweight &amp; clean.
        
            // Single Work Step
            .col-12.col-sm-9.col-md-8.col-lg-4
                .single-work-step.p-5.wow.fadeInUp(data-wow-delay="0.5s")
                    .step-number(style="background-image: url('img/bg-img/hero-6.jpg')") 3
                    h5 Publish when done
                    p Apland is a completely creative, lightweight &amp; clean.