doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-white.pug

        include inc/dark.pug

        include inc/hero-dhaka.pug

        include inc/work-step.pug

        .container
            .border-top

        include inc/organize-sale.pug

        include inc/benefits.pug

        include inc/feature.pug

        include inc/testimonial.pug

        include inc/timeline.pug

        include inc/footer.pug

        include inc/plugins.pug