doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-white.pug

        include inc/dark.pug

        // Breadcrumb Area
        .breadcrumb-area.bg-img.bg-black-overlay.section-padding-130(style="background-image: url(img/bg-img/testimonials.jpg);")
            .container
                .row.justify-content-center
                    .col-12.col-sm-9.col-xl-6
                        .breadcrumb-content.text-center
                            h2 Blog Card Sidebar
                            p For 5 years we have been developing for providing better services.
                            // Breadcrumb
                            nav.mt-4(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="#") Home
                                    li.breadcrumb-item.active(aria-current="page") Blog

        // Blog Area
        .apland-blog-area.section-padding-130
            .container
                .row.justify-content-between.g-5
                    .col-12.col-md-7
                        .row.gy-5

                            // Single Blog Area
                            .col-12
                                .single-post-area.wow.fadeInUp
                                    img(src="img/blog-img/1.jpg", alt="")
                                    // Post Content
                                    .post-content.d-flex.justify-content-between.p-4
                                        .post-meta.d-flex.justify-content-between.align-items-center
                                            a.post-tag(href="#") Tech
                                            span
                                                i.lni-timer 
                                                |  5 min read
                                        h3 For 5 years we have been developing
                                        .read-more-btn
                                            a.btn.btn-sm.btn-warning(href="blog-details-full.html") Read More

                            // Single Blog Area
                            .col-12
                                .single-post-area.wow.fadeInUp
                                    img(src="img/blog-img/2.jpg", alt="")
                                    // Post Content
                                    .post-content.d-flex.justify-content-between.p-4
                                        .post-meta.d-flex.justify-content-between.align-items-center
                                            a.post-tag(href="#") Tutorial
                                            span
                                                i.lni-timer 
                                                |  17 min read
                                        h3 This is sign you have been looking for
                                        .read-more-btn
                                            a.btn.btn-sm.btn-warning(href="blog-details-full.html") Read More

                            // Single Blog Area
                            .col-12
                                .single-post-area.wow.fadeInUp
                                    img(src="img/blog-img/3.jpg", alt="")
                                    // Post Content
                                    .post-content.d-flex.justify-content-between.p-4
                                        .post-meta.d-flex.justify-content-between.align-items-center
                                            a.post-tag(href="#") Works
                                            span
                                                i.lni-timer 
                                                |  8 min read
                                        h3 Three men laughing while looking in the laptop inside room
                                        .read-more-btn
                                            a.btn.btn-sm.btn-warning(href="blog-details-full.html") Read More

                            // Single Blog Area
                            .col-12
                                .single-post-area.wow.fadeInUp
                                    img(src="img/blog-img/4.jpg", alt="")
                                    // Post Content
                                    .post-content.d-flex.justify-content-between.p-4
                                        .post-meta.d-flex.justify-content-between.align-items-center
                                            a.post-tag(href="#") Works
                                            span
                                                i.lni-timer 
                                                |  2 min read
                                        h3 Live, work, creative
                                        .read-more-btn
                                            a.btn.btn-sm.btn-warning(href="blog-details-full.html") Read More

                            // Single Blog Area
                            .col-12
                                .single-post-area.wow.fadeInUp
                                    img(src="img/blog-img/5.jpg", alt="")
                                    // Post Content
                                    .post-content.d-flex.justify-content-between.p-4
                                        .post-meta.d-flex.justify-content-between.align-items-center
                                            a.post-tag(href="#") Photography
                                            span
                                                i.lni-timer 
                                                |  2 min read
                                        h3 Architectural photography of building with people.
                                        .read-more-btn
                                            a.btn.btn-sm.btn-warning(href="blog-details-full.html") Read More

                            // Single Blog Area
                            .col-12
                                .single-post-area.wow.fadeInUp
                                    img(src="img/blog-img/6.jpg", alt="")
                                    // Post Content
                                    .post-content.d-flex.justify-content-between.p-4
                                        .post-meta.d-flex.justify-content-between.align-items-center
                                            a.post-tag(href="#") Tech
                                            span
                                                i.lni-timer 
                                                |  5 min read
                                        h3 Why we use Apple phone randomly?
                                        .read-more-btn
                                            a.btn.btn-sm.btn-warning(href="blog-details-full.html") Read More

                            // Single Blog Area
                            .col-12
                                .single-post-area.wow.fadeInUp
                                    img(src="img/blog-img/7.jpg", alt="")
                                    // Post Content
                                    .post-content.d-flex.justify-content-between.p-4
                                        .post-meta.d-flex.justify-content-between.align-items-center
                                            a.post-tag(href="#") Tutorial
                                            span
                                                i.lni-timer 
                                                |  5 min read
                                        h3 For 5 years we have been developing
                                        .read-more-btn
                                            a.btn.btn-sm.btn-warning(href="blog-details-full.html") Read More

                            // Single Blog Area
                            .col-12
                                .single-post-area.wow.fadeInUp
                                    img(src="img/blog-img/8.jpg", alt="")
                                    // Post Content
                                    .post-content.d-flex.justify-content-between.p-4
                                        .post-meta.d-flex.justify-content-between.align-items-center
                                            a.post-tag(href="#") Tutorial
                                            span
                                                i.lni-timer 
                                                |  5 min read
                                        h3 Three men laughing while looking in the laptop inside room
                                        .read-more-btn
                                            a.btn.btn-sm.btn-warning(href="blog-details-full.html") Read More

                        .row
                            .col-12
                                .apland-blog-pagination.mt-80.wow.fadeInUp
                                    nav(aria-label="Page navigation example")
                                        ul.pagination.justify-content-center
                                            li.page-item
                                                a.page-link(href="#", aria-label="Previous")
                                                    i.lni-chevron-left
                                            li.page-item.active
                                                a.page-link(href="#") 1
                                            li.page-item
                                                a.page-link(href="#") 2
                                            li.page-item
                                                a.page-link(href="#") 3
                                            li.page-item
                                                a.page-link(href="#") 4
                                            li.page-item
                                                a.page-link(href="#") 5
                                            li.page-item
                                                a.page-link(href="#", aria-label="Next")
                                                    i.lni-chevron-right

                    .col-12.col-md-5.col-lg-4
                        .sidebar-area
                            include inc/sidebar.pug

        include inc/cta.pug

        include inc/footer.pug

        include inc/plugins.pug