doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-white.pug

        include inc/dark.pug

        // Breadcrumb Area
        .breadcrumb-area.bg-img.bg-black-overlay.section-padding-130(style="background-image: url(img/bg-img/testimonials.jpg);")
            .container
                .row.justify-content-center
                    .col-12.col-sm-9.col-xl-6
                        .breadcrumb-content.text-center
                            h2 FAQ
                            p For 5 years we have been developing for providing better services.
                            // Breadcrumb
                            nav.mt-4(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="#") Home
                                    li.breadcrumb-item.active(aria-current="page") FAQ

        // FAQ Area
        section.faq-area.section-padding-130.bg-white
            .container
                .row.g-5
                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 How can I install this app?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 Where can I find out about events?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 The apps isn't installing?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 Contact form isn't working?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 The apps isn't installing?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 Contact form isn't working?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 How can I install this app?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 Where can I find out about events?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 The apps isn't installing?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 Contact form isn't working?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 How can I install this app?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single-faq-area.wow.fadeInUp
                            h5 Where can I find out about events?
                            p.mb-0 Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

        include inc/cta.pug

        include inc/footer.pug

        include inc/plugins.pug