// Border Color
$border: #ebebeb;

// Dark Blue Color
$dark-blue: #070a57;

// White Color
$white: #ffffff;

// Gray Color
$gray: #faf5ff;

// Dark Color
$dark: #000000;

// Heading Color
$heading: #151e2e;

// Text Color
$text: #848aa6;

// Primary Color
$primary: #0d6efd;

// Secondary Color
$secondary: #404040;

// Success Color
$success: #2ecc71;

// Danger Color
$danger: #f4284a;

// Warning Color
$warning: #f1c40f;

// Dark
$dark-bg: #0e0820;