/* Download App CSS */

.download-app-area {
    position: relative;
    z-index: 1;
    background-color: $dark-blue;
}

.download-app-text a {
    position: relative;
    z-index: 1;
    background-color: $white;
    color: $primary;
    display: inline-block;
    background-color: transparent;
    margin: .5rem;

    img {
        max-height: 50px;

        @media #{$breakpoint-xs} {
            max-height: 36px;
        }
    }

    &:hover,
    &:focus {
        background-color: transparent;
        box-shadow: 0 0 70px 6px rgba(255, 255, 255, 0.7);
    }
}

.download-img {
    margin-top: 50px;
}