/* FAQ CSS */

.faq-area {
    position: relative;
    z-index: 1;
    background-color: $gray;
}

.faq-accordian {
    position: relative;
    z-index: 1;

    .card {
        position: relative;
        z-index: 1;
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        .card-header {
            background-color: $white;
            padding: 0;
            border-bottom-color: $border;

            h6 {
                cursor: pointer;
                padding: 1.75rem 2rem;
                color: $primary;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 1.5rem;
                }

                &.collapsed {
                    color: $dark-blue;

                    span {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        .card-body {
            padding: 1.75rem 2rem;

            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.support-button {
    p {
        @media #{$breakpoint-xs} {
            font-size: 12px;
        }
    }

    i {
        color: $primary;
        font-size: 1.25rem;

        @media #{$breakpoint-xs} {
            font-size: 1rem;
        }
    }

    a {
        text-transform: capitalize;
        color: $success;
        font-weight: 500;
        text-decoration: underline;

        @media #{$breakpoint-xs} {
            font-size: 12px;
        }
    }
}